MONGODB_URI=mongodb+srv://cryptoforextraining_db_user:Xf2bHJmn3Jt2lFtu@cluster0.oev392y.mongodb.net/?appName=Cluster0
AUTH_SECRET=af9k3jd82mqp0sl7xz9qm2vbN4
ADMIN_PASSWORD=admin123
PORT=5000
NODE_ENV=production
